#include "toolbar_resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#include "winres.h"

#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE
BEGIN
"toolbar_resource.h\0"
END

2 TEXTINCLUDE
BEGIN
"#include ""winres.h""\r\n"
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

#endif 

#endif   

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_UKR)
LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP1             BITMAP                  "toolbar.bmp"

#endif    


#ifndef APSTUDIO_INVOKED

#endif
